/* line 4, ../scss/style.scss */
body {
  font-family: 'Roboto', 'sans-serif';
}

/* line 7, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', 'sans-serif';
  color: white;
}

/* line 11, ../scss/style.scss */
h3 {
  font-size: 3em;
  color: #4042af;
}

/* line 15, ../scss/style.scss */
h4 {
  font-size: 1.5em;
  color: #f8f7f6;
}

/* HEADER */
/* line 20, ../scss/style.scss */
.bg-header {
  background: #31316e;
}

/* line 23, ../scss/style.scss */
.nav-link {
  color: #8f0d0d;
}

/* line 26, ../scss/style.scss */
.navbar-dark .navbar-nav .nav-link {
  color: #f1f1f1;
}

/* line 29, ../scss/style.scss */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #da4141;
}

/* OVERLAY */
/* line 33, ../scss/style.scss */
.overlay::before {
  width: 100%;
  height: 100%;
  content: "";
  background: url("../images/noise.png") repeat 0 0 rgba(0, 0, 0, 0.5);
  top: 0;
  position: absolute;
}

/* line 41, ../scss/style.scss */
.overlay1::before {
  background: url("../images/noise1.png") repeat 0 0 rgba(0, 0, 0, 0.5);
}

/* PRESENTATION */
/* line 46, ../scss/style.scss */
#presentation {
  flex-direction: column;
  background: url("../images/banner1.jpg") no-repeat 0 0 #000;
  height: 800px;
  background-size: cover;
  position: relative;
}

/* line 53, ../scss/style.scss */
#presentation h1, #presentation h2 {
  z-index: 1;
}

/* line 56, ../scss/style.scss */
.liens {
  z-index: 1;
}

/* EQUIPE */
/* line 61, ../scss/style.scss */
#equipe {
  flex-direction: column;
  margin-top: 3em;
}
/* line 64, ../scss/style.scss */
#equipe .fa {
  color: red;
  transform: rotate(-45deg);
}

/* line 69, ../scss/style.scss */
.rounded-circle {
  width: 10%;
  opacity: 1.5em;
}

/* line 73, ../scss/style.scss */
.flex {
  display: flex;
  flex-direction: column;
}

/* line 77, ../scss/style.scss */
.icon-titre {
  width: 60px;
  height: 60px;
  background: grey;
  transform: rotate(45deg);
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 86, ../scss/style.scss */
.vignette {
  opacity: 0.5;
}

/* line 89, ../scss/style.scss */
.vignette.active {
  width: 20%;
  opacity: 1;
}

/* COMPTEUR */
/* line 94, ../scss/style.scss */
#compteur {
  background: url("../images/banner4.jpg") no-repeat 0 0 #000 fixed;
  height: 250px;
  background-size: cover;
  color: #f1f1f1;
  position: relative;
}
/* line 100, ../scss/style.scss */
#compteur h4 {
  color: #dd1717;
  font-size: 2.5em;
}
/* line 104, ../scss/style.scss */
#compteur h5 {
  color: #1c11c2;
  text-transform: uppercase;
}

/* line 109, ../scss/style.scss */
.icon-compteur {
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  border: 2px solid #f1f1f1;
  display: flex;
  margin: 0 auto;
  margin-bottom: 5%;
}
/* line 117, ../scss/style.scss */
.icon-compteur .fa {
  transform: rotate(-45deg);
}

/* PORFOLIO */
/* line 124, ../scss/style.scss */
#portfolio .fa {
  color: white;
  transform: rotate(-45deg);
}
/* line 128, ../scss/style.scss */
#portfolio figure {
  flex: 1;
  position: relative;
}
/* line 132, ../scss/style.scss */
#portfolio a:hover figcaption {
  opacity: 1;
  transform: scale(1);
}
/* line 136, ../scss/style.scss */
#portfolio figcaption {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 100%;
  background: url("../images/noise.png") repeat 0 0 scroll rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: scale(0);
  transition: all 2s;
}
/* line 151, ../scss/style.scss */
#portfolio img {
  transition: all 2s;
}
/* line 154, ../scss/style.scss */
#portfolio a:hover img {
  transform: rotate(45deg) scale(2.5);
}
/* line 157, ../scss/style.scss */
#portfolio .effet-hover {
  overflow: hidden;
  width: 98%;
}

/* COMPETENCES */
/* line 166, ../scss/style.scss */
.barre, .barre2, .barre3, .barre4 {
  background-color: #c23784;
}

/* line 169, ../scss/style.scss */
#competences h5 {
  color: #795858;
}

/* line 172, ../scss/style.scss */
.progress {
  width: 100%;
  height: 35px;
  background-color: #1d173b;
  position: relative;
  margin-bottom: 2em;
}

/* line 177, ../scss/style.scss */
.progress-bar {
  width: 70%;
  height: 35px;
  background-color: #c23784;
  animation: barre-animee 5s 1;
  padding-left: 2%;
}

/* line 182, ../scss/style.scss */
.barre2 {
  width: 50%;
  animation: barre-animee2 5s 1;
}

/* line 187, ../scss/style.scss */
.barre3 {
  width: 30%;
  animation: barre-animee3 5s 1;
}

/* line 192, ../scss/style.scss */
.barre4 {
  width: 60%;
  animation: barre-animee4 5s 1;
}

/* line 197, ../scss/style.scss */
.progress-bar::after {
  content: "";
  border-left: 20px solid #c23784;
  border-bottom: 19px solid transparent;
  border-top: 18px solid transparent;
  position: absolute;
  top: 0;
  left: 70%;
  animation: triangle 5s 1;
}

/* line 207, ../scss/style.scss */
.barre2::after {
  left: 50%;
  border-left-color: #c23784;
  animation: triangle2 5s 1;
}

/* line 212, ../scss/style.scss */
.barre3::after {
  left: 30%;
  border-left-color: #c23784;
  animation: triangle3 5s 1;
}

/* line 217, ../scss/style.scss */
.barre4::after {
  left: 60%;
  border-left-color: #c23784;
  animation: triangle4 5s 1;
}

@keyframes barre-animee {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes triangle {
  0% {
    left: 0%;
  }
  100% {
    left: 70%;
  }
}
@keyframes barre-animee2 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes triangle2 {
  0% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}
@keyframes barre-animee3 {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes triangle3 {
  0% {
    left: 0%;
  }
  100% {
    left: 30%;
  }
}
@keyframes barre-animee4 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes triangle4 {
  0% {
    left: 0%;
  }
  100% {
    left: 60%;
  }
}
/* line 255, ../scss/style.scss */
.texte-barre {
  text-align: left;
  text-transform: uppercase;
  justify-content: center;
  opacity: 1;
  animation: texte-span 5s 1;
}

@keyframes texte-span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ACTUALITES */
/* line 268, ../scss/style.scss */
#actualites {
  background: #f0f0f0;
}
/* line 270, ../scss/style.scss */
#actualites p {
  margin-bottom: 3em;
}
/* line 273, ../scss/style.scss */
#actualites article {
  background: #ffffff;
  border-top: 5px solid #E84545;
  padding: 1em;
  position: relative;
  margin-bottom: 5em;
}
/* line 280, ../scss/style.scss */
#actualites article a {
  font-size: 0.7em;
  color: #E84545;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
/* line 286, ../scss/style.scss */
#actualites article span {
  font-size: 0.7em;
}
/* line 289, ../scss/style.scss */
#actualites article p {
  font-size: 0.9em;
}
/* line 292, ../scss/style.scss */
#actualites .icon-article {
  background: #E84545;
  position: absolute;
  top: -8%;
  left: 42%;
  width: 40px;
  height: 40px;
}
/* line 300, ../scss/style.scss */
#actualites .icon-titre.icon-article i {
  font-size: 1.4em;
  transform: rotate(-45deg);
}
/* line 304, ../scss/style.scss */
#actualites h4 {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* MAP */
/* line 310, ../scss/style.scss */
#map {
  flex-direction: column;
}

/* line 313, ../scss/style.scss */
.bandeau {
  background: #E84545;
}
/* line 315, ../scss/style.scss */
.bandeau h6 {
  color: #f1f1f1;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1.3em;
}

/* CONTACT */
/* line 323, ../scss/style.scss */
#contact .petit {
  width: 70%;
}

/* line 326, ../scss/style.scss */
#contact form {
  width: 75%;
}

/* line 329, ../scss/style.scss */
input[type="submit"] {
  width: 100%;
}

/* FOOTER */
/* line 334, ../scss/style.scss */
footer {
  flex-direction: column;
  background: #2B2E4A;
  color: #f1f1f1;
  border-top: 5px solid #E84545;
  margin-top: 3em;
  padding-bottom: 1.5em;
}

/* line 342, ../scss/style.scss */
footer h6 {
  font-size: 1em;
  color: #f1f1f1;
}

/* line 347, ../scss/style.scss */
.social .fab {
  color: #f1f1f1;
  transform: rotate(-45deg);
}
/* line 351, ../scss/style.scss */
.social span {
  width: 35px;
  height: 35px;
  background: #E84545;
  transform: rotate(45deg);
  margin: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 360, ../scss/style.scss */
.social span:hover {
  background: #2B2E4A;
  border: 1px solid #E84545;
}

/* line 366, ../scss/style.scss */
.etiquette {
  width: 10em;
  background: #E84545;
  padding: 1em;
  border-radius: 0 0 4% 4%;
  margin-bottom: 2.5em;
}

@media screen and (max-width: 600px) {
  /* line 2, ../scss/_responsive.scss */
  .vignette {
    width: 7rem;
    height: 7rem;
  }

  /* line 5, ../scss/_responsive.scss */
  .vignette.active {
    width: 10rem;
    height: 10rem;
  }

  /* line 6, ../scss/_responsive.scss */
  h3 {
    font-size: 2.5em;
  }

  /* line 7, ../scss/_responsive.scss */
  #presentation {
    display: none;
  }

  /* line 8, ../scss/_responsive.scss */
  .menu-hamburger {
    display: block;
  }
  /* line 10, ../scss/_responsive.scss */
  i .menu-hamburger {
    color: #dd5252;
  }

  /* line 12, ../scss/_responsive.scss */
  nav {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  /* line 15, ../scss/_responsive.scss */
  .social span {
    width: 2em;
    height: 2em;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  /* line 19, ../scss/_responsive.scss */
  .nav {
    flex-direction: column;
  }

  /* line 20, ../scss/_responsive.scss */
  h3 {
    font-size: 2em;
  }
}
